*.h5
*.pickle
*.wbproj
.ipynb_*
*.pcd

Dataset/scripts/vtkplotter/data/

Dataset/scripts/vtkplotter/textures/

Dataset/scripts/vtkplotter/examples/advanced/

Dataset/scripts/vtkplotter/examples/tests/

Dataset/scripts/vtkplotter/examples/

*.pyc

*.gz

*.h5

*ckpt*

checkpoint

events*

*.tar*

*.pickle
log_data*/
*.wbt
*.bag
*.bin
