*.h5
*.pickle
*.wbproj
*.tar.gz
.ipynb_*
*.pcd

Dataset/scripts/vtkplotter/data/

Dataset/scripts/vtkplotter/textures/

Dataset/scripts/vtkplotter/examples/advanced/

Dataset/scripts/vtkplotter/examples/tests/

Dataset/scripts/vtkplotter/examples/

*.pyc
